version: '3.3'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.back
    environment:
      - REDIS_HOST=redis
    ports:
      - 8081:8081
    depends_on:
      - redis
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.front
    ports:
      - 80:80
  redis:
    image: redis
